body {
  background: #ccc !important;
}
.container {
  font-family: 'Muli';
}
.colors {
  color: white;
  margin: 20px 0;
}
.inline {
  display: inline-block;
}
.color{
  padding: 10px 20px;
  margin-right: 7px;
}
.round {
  margin: 10px 20px;
}
select {
  font-size: 18px !important;
}
input{
  width: 40px;
  height: 44px;
  font-size: 24px !important;
  text-align: center;
}
.piece {
  color: white;
  font-size: 28px;
  text-align: center;
  height: 40px;
  display: inline-block;
  width: 40px;
}
.c0 {
  background-color: black;
}
.c1 {
  background-color: red;
}
.c2 {
  background-color: orange;
}
.c3 {
  background-color: green;
}
.c4 {
  background-color: cyan;
}
.c5 {
  background-color: #0066ff;
}
.c6 {
  background-color: #002bff;
}
.c7 {
  background-color: #3f00ff;
}
.c8 {
  background-color: brown;
}
.c9 {
  background-color: magenta;
}
.grid{
  vertical-align: bottom;
}
.quad {
  border: 1px black solid;
  height: 8px;
  width: 8px;
  margin: 0 0 0 10px;
}
.quad.black {
  background: #333;
}
.quad.white {
  background: white;
}